<!DOCTYPE html>
<html>
<head>

<title>My Colorado Trip 2015</title>

</head>

<body class="body">
	<body>

		<div class="box">

			<h1>Colorado 2015</h1>
			<br />
			<br />	
			<p>
				In June of 2015, I took a road trip up to Colorado. It was the first time I ever been to the state. My girlfriend and her younger sister joined me. It was an amazing trip. Colorado is beautiful. I can't wait to go back.
			</p>
			<p>
				Here are some photos from my trip.
			</p>

			<img src="../images/1.jpg">
			<img src="../images/2.jpg">
			<img src="../images/3.jpg">
			<img src="../images/4.jpg">
			<img src="../images/5.jpg">
			<img src="../images/6.jpg">
			<img src="../images/7.jpg">
			<img src="../images/8.jpg">
			<img src="../images/9.jpg">
			<br />
			
		</div>


	</body>


</body>
</html>
