body {
	background: url('/assets/bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

h1 {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
}

h2 {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 100;
	font-size: 20px;
	margin: 0px;
}

p {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 100;
	text-align: left;
	font-size: 30px;
}

.box {
	background-color: rgba(0,0,0,0.8); 
	padding: 20px;
	margin: 25px 20px;
	text-align: center;
	resize: both;
}

img {
	width: 100%
}